.box {
    margin: 20px;
    
  }
  .grid {
    /* min-height: 100%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
  }
  
  .grid > div {
    flex-basis: calc(50% - 40px);
    /* background-color: #9b9999; */
  }
  .container{
      padding-top: 50px;
  }
  .card-header{
    font-size: 24px;
    font-weight: bold;
  }
  